
<% if flash[:message] != nil %>
    <div class="alert"><%= flash.now[:message] %></div>
<% end %>

<h3><%= @user.username.titleize %>'s College Checklist:</h3>
      
<table class="table table-hover">
  <thead>
    <tr class="info">
              <th><h5>College Name</h5></th>
              <th><h5>Submit Application</h5></th>
              <th><h5>Pay Application Fee</h5></th>
              <th><h5>Request Transcripts</h5></th>
              <th><h5>Pay Transcript Fee</h5></th>
              <th><h5>Request ACT/SAT Score</h5></th>
              <th><h5>Pay Score Request Fee</h5></th>
              <th><h5>Request Rec Letters</h5></th>
              <th><h5>College Visit</h5></th>
              <th><h4></h4></th>
              <th><h4></h4></th>          
    </tr>
  </thead>
  <tbody>
        <% current_user.colleges.each do |college| %>
        <tr>
            <td data-title="College Name"><a href="/colleges/<%= college.id %>"><%= college.name %></a></td>
            <td data-title="Submit Application"><%= "<img class='checkmark' src='/images/checkmark-box1.png' alt='checked'>" if college.submit_application %></td>

            <td data-title="Pay Application Fee"><%= "<img class='checkmark' src='/images/checkmark-box1.png' alt='checked'>" if college.pay_app_fee? %></td>

            <td data-title="Request Transcripts"><%= "<img class='checkmark' src='/images/checkmark-box1.png' alt='checked'>" if college.request_transcripts? %></td>

            <td data-title="Pay Transcript Fee"><%= "<img class='checkmark' src='/images/checkmark-box1.png' alt='checked'>" if college.pay_transcript_fee? %></td>

            <td data-title="Request ACT/SAT Score"><%= "<img class='checkmark' src='/images/checkmark-box1.png' alt='checked'>" if college.request_scores? %></td>

            <td data-title="Pay Score Request Fee"><%= "<img class='checkmark' src='/images/checkmark-box1.png' alt='checked'>" if college.pay_score_request_fee? %></td>

            <td data-title="Request Rec Letters"><%= "<img class='checkmark' src='/images/checkmark-box1.png' alt='checked'>" if college.request_rec_letters? %></td>
            
            <td data-title="College Visit"><%= college.college_visit.strftime("%a %m-%d-%Y") if college.college_visit %></td>
            
            <td><a href="/colleges/<%= college.id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>

             <td>
              <form action="/colleges/<%= college.id %>/delete" method="post">
              <input id="hidden" type="hidden" name="_method" value="delete">
              <button type="submit" value="Delete College" name="delete"><i class="fa fa-trash" aria-hidden="true"></i>
              </form>
            </td>
        </tr>
        <% end %>
  </tbody>
</table>

<br>
<form action="<%="/colleges/new"%>" method="GET">
  <i class="fa fa-plus" aria-hidden="true"></i>
  <button type="submit" class="btn btn-primary">Add Another School</button>
</form>