
<% if flash[:message] != nil %>
    <div class="alert"><%= flash.now[:message] %></div>
<% end %>

<h3><%= @user.username.titleize %>'s College Checklist:</h3>
      <table class="table table-striped table-hover">

        <tr class="info">
              <th><h5>Name</h5></th>
              <th><h5>Submit Application</h5></th>
              <th><h5>Pay Application Fee</h5></th>
              <th><h5>Request Transcripts</h5></th>
              <th><h5>Pay Transcript Fee</h5></th>
              <th><h5>Request ACT/SAT Score</h5></th>
              <th><h5>Pay Score Request Fee</h5></th>
               <th><h5>Request Recommendation Letters</h5></th>
              <th><h5>College Visit</h5></th>
              <th><h4></h4></th>
              
        </tr>

            <% current_user.colleges.each do |college| %>
            <tr style="text-align:left;">
            <td><a href="/colleges/<%= college.id %>"><%= college.name %></a></td>
            <td><input type="checkbox" id="college[submit_application]" name="college[complete][]" value="<%= college.complete %>" <%= "checked" if college.complete %>/></td>

            <td><input type="checkbox" id="college[pay_app_fee]" name="college[complete][]" value="<%= college.complete %>" <%= "checked" if college.complete %>/></td>

            <td><input type="checkbox" id="college[request_transcripts]" name="college[complete][]" value="<%= college.complete %>" <%= "checked" if college.complete %>/></td>

            <td><input type="checkbox" id="college[pay_transcript_fee]" name="college[complete][]" value="<%= college.complete %>" <%= "checked" if college.complete %>/></td>

            <td><input type="checkbox" id="college[request_scores]" name="college[complete][]" value="<%= college.complete %>" <%= "checked" if college.complete %>/></td>

            <td><input type="checkbox" id="college[pay_score_request_fee]" name="college[complete][]" value="<%= college.complete %>" <%= "checked" if college.complete %>/></td>

            <td><input type="checkbox" id="college[request_rec_letters]" name="college[complete][]" value="<%= college.complete %>" <%= "checked" if college.complete %>/></td>
            <td><%= college.college_visit.strftime("%a %m-%d-%Y") if college.college_visit %></td>
            <td><a href="/colleges/<%= college.id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
            </tr>
            <% end %>
      </table>


<br><br>
<form action="<%="/colleges/new"%>" method="GET">
  <i class="fa fa-plus" aria-hidden="true"></i>
  <input type="submit" value="Add Another School">
</form>
