<form action="/colleges/<%= @college.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label for="college_name" class="control-label">College/University Name</label>
    <input type="text" value="<%= @college.name %>" name="college[name]" id="college[name]"><br>

    <label for="college_submit_application">Submit College Application?</label>
    <input type="checkbox" name="college[complete][]" <%= "checked" if @college.complete %>><br>

    <label for="college_pay_app_fee">Pay College Application Fee?</label>
    <input type="checkbox" name="college[complete][]" <%= "checked" if @college.complete %>><br>

    <label for="request_transcripts">Request Official Transcripts to be sent?</label>
    <input type="checkbox" name="college[complete][]" <%= "checked" if @college.complete %>><br>

    <label for="pay_transcript_fee">Pay Transcript Request Fee?</label>
    <input type="checkbox" name="college[complete][]" <%= "checked" if @college.complete %>><br>

    <label for="request_scores">Request ACT/SAT Scores to be sent?</label>
    <input type="checkbox" name="college[complete][]" <%= "checked" if @college.complete %>><br>

    <label for="pay_score_request_fee">Pay Score Request Fee?</label>
    <input type="checkbox" name="college[complete][]" <%= "checked" if @college.complete %>><br>

    <label for="request_rec_letters">Request Recommendation Letters?</label>
    <input type="checkbox" name="college[complete][]" <%= "checked" if @college.complete %>><br>

    <label for="college_college_visit">College Visit Date</label>
    <input type="date" data-date-format="mm/dd/yyyy" value="college[college_visit]" name="college[college_visit]">
    <input type="submit" id="submit" value="Edit College">
</form>